<h1 id="tableLabel">Шеховцов Виктор</h1>

<p>Сухой коже особенно необходимо <i>длительное</i> и <i>качественное</i> увлажнение. Помимо налаженного питьевого режима, не забывайте также о средствах на основе гигроскопичных агентов (глицерина, гиалуроновой кислоты), которые не только увлажняют клетки, но и предотвращают трансэпидермальную потерю влаги, надолго оставляя кожу мягкой, гладкой и напитанной.</p>
<p>С повышенной чувствительностью справятся формулы на основе смягчающих, успокаивающих и липидовосстанавливающих компонентов, например, растительных масел. Выбирайте специальные средства с маркировкой <b>«для чувствительной кожи»</b> и <b>«гипоаллергенно»</b>.</p>

<p>
  <button *ngIf="!condition" class="btn btn-primary" (click)="toggle()">Открыть</button>
  <button *ngIf="condition" class="btn btn-primary" (click)="toggle()">Закрыть</button>
</p>

<p *ngIf="condition">
  <a href="https://vk.com/shekhovtsovvv"><img src="assets/img/me2.jpg" style="height:240px"></a>
</p>
